{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}

{% block body %}
<div class="container">
    <div class="row ">
        <h1>Liste des categories</h1>
        <div class="col">
            <a class="btn btn-primary" href="{{path('category.add')}}">
                Ajouter une categories
            </a>

            <ul class="list-group">
            {% for categorie in categories %}
                <li class="list-group-item">{{categorie.name}}
                    <ul>
                        <li>
                            <a class="btn btn-primary" href="{{path('category.edit', {id:categorie.id})}}">Editer</a>
                        </li>
                        <li>
                            <form method="post" action="{{path('category.delete', {id:categorie.id})}}" style="display: inline-block" onsubmit="return confirm('Confirmer la suppression')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{csrf_token('delete'~categorie.id)}}">
                                <button class="btn btn-danger">Supprimer </button>
                            </form>
                        </li>
                    </ul>
                </li>
            {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}
