{% extends 'base.html.twig' %}

{% block title %}Bienvenue | Accueil{% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mb-0 text-center">
                {{message}}
            </div>
        {% endfor %}

        <h1>Salles</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-primary" href="{{path('room.add')}}">Ajouter une salle</a>
        {% endif %}
            {{form_start(form)}}
                    <div class="row">

                <div class="col-md-3">
                    {{form_widget(form.qName)}}
                    {{form_widget(form.qCity)}}
                </div>
                <div class="col-md-9">
                    {{knp_pagination_sortable(rooms,'ID','r.id')}}
                    {{knp_pagination_sortable(rooms,'ville','r.city')}}
                    

                    <button type="submit" class="btn btn-outline-primary">
                        filtrer
                    </button>
                </div>
                        </div>

            {{form_end(form)}}

        <table class="table">
            <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col'>Name</th>
                    <th scope='col'>City</th>
                    <th scope='col'>Description</th>
                    <th scope='col'>Disponibilité</th>
                    <th scope='col'>crée le </th>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <th scope='col'>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{room.id}}</td>
                        <td>{{room.name}}</td>
                        <td>{{room.city}}</td>
                        <td>{{room.description | length > 100 ? room.description | slice (0,100) ~ '...' : room.description}}</td>
                        <td>{{room.isAvailable}}</td>
                        <td>{{room.createdAt|date('Y-m-d')}}</td>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <td>
                                <a class="btn btn-primary" href="{{path('room.edit', {id:room.id})}}">Editer</a>
                                <form method="post" action="{{path('room.delete', {id:room.id})}}" style="display: inline-block" onsubmit="return confirm('Confirmer la suppression')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{csrf_token('delete'~room.id)}}">
                                    <button class="btn btn-danger">Supprimer </button>
                                </form>
                            </td>
                            


                        {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
        {{knp_pagination_render(rooms)}}
        
        </div>
    </div>

{% endblock %}
