{% extends "base.html.twig" %}
{% block title %}Ville affihcer par ville{% endblock %}

{% block body %}
<div class="container">
    <h1>okayyyy</h1>
    <ul>
        {% for room in rooms %}
            <li>{{room.city}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}